<h1>Please add a new survey:</h1>

<form action="/surveys" method="post">
	<div class="form-group">
		<label for="name">Please enter survey name:</label>
		<input id="name" name="name" type="test">
	</div>

	<button type="submit" class="btn-success">Add Survey</button>
</form>
